
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1, h3, h4, p {
  text-align: center;
}
</style>
</head>
<body>

<h1><%= "Is this what you're looking for?" %></h1>


<h4>Song Name: <%= @recording.song.name %></h4>
<p>Artist Name: <%= @recording.artist.name %></p>
<p>Rating: 
  <% if @recording.average_rating > 0 %>
    <%= @recording.average_rating %>
  <% else %>
    <%= "Not rated yet" %>
  <% end %>
</p>

<p> Lyrics: <%= @recording.song.lyric %></p>
<p><%= link_to "View full lyrics", @recording.link, target: :_blank %></p>

<h4>
    <% if logged_in? %>
      <p><%= link_to "Create Review", new_review_path %></p>
      <% else %>
        <p><%= link_to "Sign Up to Create Review", new_user_path %></p>
    <% end %>
</h4>

<ul>
  <p>Reviews: 
    <% @recording.reviews.each do |review| %>
      <% if review.user != nil %>
        <li><%= "#{review.user.username} - #{review.description}" %></li>
      <% end %>
    <% end %>
  </p>
</ul>

</body>
</html>














