<h1><%= @recording.song.name %></h1>

<h4>Song Name: <%= @recording.song.name %></h4>
<p>Artist Name: <%= @recording.artist.name %></p>
<p>Rating: 
    <% @recording.reviews.each do |review| %>
        <%= review.rating %>
    <% end %>
</p>
<p>Reviews: 
    <% @recording.reviews.each do |review| %>
        <%= review.description %>
    <% end %>
</p>
<p> Lyrics: <%= @recording.song.lyric %></p>
<p><%= link_to "Buy/Stream this song", @recording.link, target: :_blank %></p>

<li><%= link_to "Create Review", new_review_path %></li>
<br>
<button style="text-decoration: none"><%= link_to "Go to Search Bar", home_path %></button>



