<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1, h3, h4 {
  text-align: center;
}
</style>
</head>
<body>

<h1>Who dis? </h1>


<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red"><%= error %></p>
    <% end %>
<% end %>

<h4><%= form_for @user, controller: 'users', action: 'create' do |f| %><br>
<%= f.label :first_name %><br>
<%= f.text_field :first_name %><br>

<%= f.label :last_name %><br>
<%= f.text_field :last_name %><br>

<%= f.label :username %><br>
<%= f.text_field :username %><br>

<%= f.label :password %><br>
<%= f.password_field :password %><br>

<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation %><br>

<%= f.label :email %><br>
<%= f.text_field :email %><br>

<%= f.label :age %><br>
<%= f.number_field :age %><br>

<%= f.label :country %><br>
<%= f.text_field :country %><br>

<%= f.label :img_url %><br>
<%= f.text_field :img_url %><br>
<br>
<%= f.submit "Update" %></h4>
<% end %>

</body>
</html>