<h1 style="text-align:center">Welcome to the Club!</h1>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red"><%= error %></p>
    <% end %>
<% end %>

<h4 style="text-align:center"><%= form_for @user, controller: 'users', action: 'create' do |f| %>
<%= f.label :first_name %><br>
<%= f.text_field :first_name, placeholder: "First Name" %><br>

<%= f.label :last_name %><br>
<%= f.text_field :last_name, placeholder: "Last Name" %><br>

<%= f.label :username %><br>
<%= f.text_field :username, placeholder: "Username" %><br>

<%= f.label :password %><br>
<%= f.password_field :password, placeholder: "Password" %><br>

<%= f.label :password_confirmation %><br>
<%= f.password_field :password_confirmation, placeholder: "Password" %><br>

<%= f.label :email %><br>
<%= f.text_field :email, placeholder: "Email Address" %><br>

<%= f.label :age %><br>
<%= f.number_field :age, placeholder: "Age" %><br>

<%= f.label :country %><br>
<%= f.text_field :country, placeholder: "Country" %><br>

<%= f.label :img_url %><br>
<%= f.text_field :img_url, placeholder: "Photo" %><br>
<br>
<%= f.submit "One of us! One of us!" %></h4>
<% end %>


