<h1>User Profile </h1>

<h4><%= @user.username %></h4>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.age %></p>
<p><%= @user.country %></p>

<p><%= link_to "My Reviews", reviews_path %></p>

<button style="text-decoration: none"><%= link_to "Edit Profile", edit_user_path %></button>
<button style="text-decoration: none"><%= link_to "Delete Profile", new_user_path %></button>


<p><%= link_to "Sign Out", logout_path, method: :delete %></p>
<button style="text-decoration: none"><%= link_to "Go to Search Bar", home_path %></button>

