<!DOCTYPE html>
<html>
  <head>

<style>

h1 {
  text-align: center;
}

body {
  background-color: lightblue;
}

h3, p {
    text-align: center;
}



</style>

  </head>
  <body>
<h1>Profile </h1><br>

<p>Username: <%= @user.username %><p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Age: <%= @user.age %></p>
<p>Country: <%= @user.country %></p><br>

<h3> My Reviews: </h3>
    <ul>
        <% @user.reviews.each do |review| %>
        <% song_review = review.recording.song_id %>
        <li><%= link_to Song.find(song_review).name, recording_path(review.recording_id) %></li>
        <p><%= review.recording.artist.name %></p>
        <p><li><%= "#{review.description} | #{review.rating}" %></li></p>
        <% end %>
    </ul>


<p><button style="text-decoration: none"><%= link_to "Edit Profile", edit_user_path %></button></p>
<p><button style="text-decoration: none"><%= link_to "Delete Profile", new_user_path %></button></p>


<!--<p><%= link_to "Sign Out", logout_path, method: :delete %></p>
<button style="text-decoration: none"><%= link_to "Go to Search Bar", home_path %></button> -->

</body>
</html>

