<h1><%=  @user.first_name %></h1>

<h4>Username: <%= @user.username %></h4>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Age: <%= @user.age %></p>
<p>Country: <%= @user.country %></p>

<%= button_to "Edit Profile", edit_user_path(@user), {method: :get} %><br>

<%= button_to "Delete Profile", user_path(@user), {method: :delete, data: {confirm: "Are you sure you want to delete your profile?"}} %>

<p><%= link_to "Sign Out", logout_path, method: :delete %></p>
<button style="text-decoration: none"><%= link_to "Go to Search Bar", home_path %></button>

