<h1><%="Song Results"%></h1>


<% if @songs.length == 0 %>
    <p>No Songs Found</p>
<% else %>
    <ol>
        <% @songs.each do |song|%>
            <% song.recordings.each do |recording| %>
                <li><%= link_to "#{recording.song.name} - #{recording.artist.name} ", recording_path(recording) %></li>
            <% end %>
        <% end %>
    </ol>
<% end %>



<p><%= link_to "Search Bar", home_path %></p>

<p>API test below</p>
<% if @tracks_array == "Invalid input" %>
      <p>Invalid input!</p>
<% else %>
      <ul>
      <% @tracks_array.each do |track_hash| %>
            <li>  <%= track_hash["track"]["artist_name"] %> | <%= track_hash["track"]["track_name"]%>  </li>
      <% end %>
      </ul>
<% end %>
