<!DOCTYPE html>
<html>
  <head>

<style>

h1 {
  text-align: center;
}

body {
  background-color: lightblue;
}

h4 {
    text-align: center;
}



</style>

  </head>
  <body>


<h1><%= "What's stuck in your head?" %></h1>

<h4><%= form_tag(songs_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter word/phrase" %>
    <%= submit_tag 'Unstick' %></h4>
<% end %>


<!--<h4>
    <% if logged_in? %>
          <li> <%= link_to "logout", logout_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to "Sign-Up", new_user_path %></li>
        <li ><%= link_to "Sign-In", new_login_path %></li>
    <% end %>
</h4> -->

</body>
</html>