<h1><%= "Welcome Page" %></h1>

<%= form_tag(songs_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter word/phrase" %>
    <%= submit_tag 'Search' %>
<% end %>

<p><%= "Description" %></p>

<h4>
    <% if logged_in? %>
          <li> <%= link_to "logout", logout_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to "Sign-Up", new_user_path %></li>
        <li ><%= link_to "Sign-In", new_login_path %></li>
    <% end %>
</h4>