<h4> My Reviews: 
    <ul>
        <% @reviews.each do |review| %>
            <% song_review = review.recording.song_id %>
            <li><%= link_to Song.find(song_review).name, recording_path(review.recording_id) %></li>
            <p> Artist: <%= review.recording.artist.name %>
            <p><%= "Review: #{review.description} | Rating: #{review.rating}" %></p>
        <% end %>
    </ul>
</h4>

<p><%= link_to "Create your review", new_review_path %></p>

<p><%= link_to "Search Bar", home_path %></p>